# =============================================================================
# Project     : ARP Guard - ARP Spoofing Detector & Active Defender
# Author      : Aniq Najmuddin bin Sharifuddin
# File        : requirements.txt
# Description : Python dependencies required to run the ARP Guard system
# =============================================================================

scapy==2.5.0
flask==3.0.3
flask-socketio==5.3.6
eventlet==0.36.1
netifaces2
colorama==0.4.6
